<div class="container">
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h1 class="navbar-item title">
        Office Bingo!
      </h1>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button class="button is-info" (click)="win()">
              <strong>Instant Win!</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
