.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cell {
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Ubuntu', 'Lucida Sans', sans-serif;
      font-size: 1.3em;

      margin: 5px;
      padding: 30px;

      width: 19%;
      height: 10em;
      border: 1px solid black;

      @media (prefers-color-scheme: dark) {
        border: 1px dashed grey;
      }

      cursor: pointer;
      user-select: none;

      &.awarded {
        background-color: yellow;
      }

      @media only screen and (max-device-width : 1024px) {
        & {
          min-height: 19vh;
          font-family: 'Barlow Condensed', sans-serif;
          font-size: smaller;
          margin: 2px;
          padding: 5px;
          width: 18%vw;
        }
      }
    }

    &:nth-child(3) .cell:nth-child(3) {
      background-color: hotpink;
    }
  }
}
